body {
    background-color: lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: black;
    text-align: center;
    width: 100%;
    display: block;
}

h1:hover {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: midnightblue;
}

.assign {
    background-color: lightcyan;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 20%;
    box-shadow: 8px 8px black;
    
}

.assign img {
    width: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(39, 0, 75);
}

  .assign img:hover {
    width: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px dotted blueviolet;
}



